@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.logo,
.productFilter,
.productType,
.productName,
.productDesc,
.productPrice,
.productAdd,
.productSearch,
.productGet,
.cartTitle,
.cartBoxTitle,
.cartBoxParagraph {
    font-family: "Roboto", sans-serif;
}

header {
    height: 70px;
    background-color: #f5f5f5;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 115px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.listFilter {
    display: flex;
    font-weight: 400;
}

.productFilter {
    margin: 0 0 0 30px;
    font-size: 16px;
    color: #828282;
    transition: 0.75s;
}

.productFilter:hover {
    color: #2e245e;
    cursor: pointer;
    transition: 1.5s;
    transform: scale(1.1);
}

main {
    display: flex;
    columns: 12;
}

.sectionCard {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    margin: 20px 0 0 115px;
    gap: 50px;
}

.card {
    width: 300px;
    height: 380px;
    border: 1px solid #f5f5f5;
    overflow: hidden;
}

.cardProductHeader {
    width: 100%;
    height: 154px;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    transition: 1.5s;
}

.cardProductHeader:hover {
    transition: 1.5s;
    transform: scale(1.125);
    margin-bottom: 15px;
}

.cardProductImage {
    background-size: cover;
    background-position: center;
}

.cardProductBody {
    height: 215px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
}

.productType {
    width: 72px;
    height: 26px;
    font-size: 12px;
    padding: 5px;
    color: #ffffff;
    background-color: #2e245e;
    text-align: center;
}

.productName {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}

.productDesc {
    font-size: 12px;
    color: #828282;
}

.productPrice {
    font-size: 12px;
    font-weight: 600;
    color: #2e245e;
}

.productAdd {
    color: #828282;
    text-decoration: underline;
}

.productAdd:hover {
    color: #228c22;
}

aside {
    width: 350px;
    margin: 20px 115px 0 0;
}

.productForm {
    display: flex;
    justify-content: space-between;
}

.productSearch {
    width: 246px;
    height: 50px;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    padding-left: 24px;
}

.productGet {
    width: 96px;
    height: 50px;
    color: #ffffff;
    background-color: #6b54de;
    border: transparent;
    cursor: pointer;
}

.cartTitle,
.cartBoxTitle {
    font-weight: bold;
}

.cartTitle {
    width: 100%;
    height: 50px;
    color: #ffffff;
    background-color: #6b54de;
    text-align: center;
    font-size: 18px;
    padding: 12.5px;
}

.cart {
    width: 100%;
    height: 344px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f5f5f5;
}

.cartBoxTitle {
    font-size: 18px;
}

.cartBoxParagraph {
    font-size: 14px;
    color: #828282;
}
